block content
	- var count = 0
		div.container
			div.row
				span
					strong #{title} for #{username} - UID: #{userid}
			div.row
				div.col-md-1
				div.col-md-10
					- var oldmenu = ""; // Create var for menu. When menu changes then print it on screen as header of the group of menu items
					mixin permline(mid, description)
						div.col-md-3.text-left
							input.perms(type="checkbox" name="menu_" + mid  id="menu_" + mid)
							label(for="menu_" + mid) &nbsp;#{description}
						
					each p in menu
						- if ( p.mgdescription != oldmenu )
							- oldmenu = p.mgdescription;
							div.panel.panel-info
								div.panel-heading
									span.underline #{p.mgdescription}
								div.panel-body
									div.row
									each i in menu
										- if ( i.mgdescription == p.mgdescription )
											+permline(i.mid, i.mdescription)
											- if (count % 4 == 0 )
													- count = 0;
				div.col-md-1
						
		script.
			$(document).ready(function () {
				// - Apply checkbox ticks as for some reason I cannot do it in pug so I have to do it with jQuery.
				$(".perms").each(function () {
					var ck = $(this)
					var arruserperms = "!{userperms}".split(',');
					$.each(arruserperms, function (index, value) {
						if (value == ck.attr("id").replace("menu_","")) {
							ck.prop("checked", true);
						}
					})
				})
					
				// -  This page has its own button handler as the data is slightly different from the rest of the application
				// - Update perms when user checks r unchecks checkbox
				$(".perms").change(function () {
					// -  Loop through the checkboxes and create a string of perms to pass to postgres
					var perms = '';
					$("input.perms:checked").each( function () {
						perms = perms + this.id.replace("menu_","") + ','; // -  Comma separated string of items
					})
					perms = perms.substr(0, perms.length - 1)

					$.ajax({
						type: 'POST',
						url: '/api/db/update_db_field',
						data: {
							table: 'login',
							dbcol: 'lpermissions',
							dbcolid: 'lid',
							dbcolval: perms,
							dbcolidval: !{userid},
							_csrf: "!{_csrf}"
						},
						success: function (data) {
							if (data == "OK") {
								$("#succesfull_db").slideDown().delay(600).slideUp();
							} else {
								alert(JSON.stringify(data))
								// - $("#error_db").slideDown().delay(1000).slideUp();
							}
						}, 
						error: function () {
							$("#error_db").slideDown().delay(1000).slideUp();
						}					
					})						
				})
			})