block content
	- var count = 0
	div.container
		div.row
			span
				strong #{title} for #{username} - UID: #{userid}
		div.row
			each p in menu
				div(class="col-md-3 text-left")
					input.perms(type="checkbox" id="menu_" + p.mid)
					label(for="menu_" + p.mid) &nbsp;#{p.mdescription}
				- count++
						
				if ( count % 4 == 0 )
					div.row
					
		div.row
			button.btn.btn-default(id="select_all") Select All 
			span &nbsp;
			button.btn.btn-default(id="update_perms") Update Permissions
						
		script.
			$(document).ready(function () {
				// - Apply checkbox ticks as for some reason I cannot do it in pug so I have to do it with jQuery.
				$(".perms").each(function () {
					var ck = $(this)
					var arruserperms = "!{userperms}".split(',');
					for (var i = 0; i < arruserperms.length; i++) {
						if (arruserperms[i] == ck.attr("id").replace("menu_","")) {
							ck.prop("checked", true);
						}		
					}
				})
				
				// - Select all button
				$("#select_all").click(function () {
					$(".perms").prop("checked", true);
				})
					
				// -  This page has its own button handler as the data is slightly different from the rest of the application
				// -  We are using a JSON array to store in the DB 
				$("#update_perms").click(function () {
					// -  Loop through the checkboxes and create a string of perms to pass to postgres
					var perms = '';
					$("input.perms:checked").each( function () {
						perms = perms + this.id.replace("menu_","") + ','; // -  Comma separated string of items
					})
					perms = perms.substr(0, perms.length - 1)

					$.ajax({
						type: 'POST',
						url: '/api/db/update_db_field',
						data: {
							table: 'login',
							dbcol: 'lpermissions',
							dbcolid: 'lid',
							dbcolval: perms,
							dbcolidval: !{userid},
							_csrf: "!{_csrf}"
						},
						success: function (data) {
							if (data == "OK") {
								$("#succesfull_db").slideDown().delay(600).slideUp();
							} else {
								alert(JSON.stringify(data))
								// - $("#error_db").slideDown().delay(1000).slideUp();
							}
						}, 
						error: function () {
							$("#error_db").slideDown().delay(1000).slideUp();
						}					
					})						
				})
			})