// - Visualize only. No updates on this page
block content
		include addons/searchbox.pug
		input(type="hidden" id="searchparam" searchtable="vw_user_actions" fields="action,dbuser,dbcolumn,dbtable,data" render="check_user_actions" arrayname="actions")
		
		table.table.table-condensed.table-hover.datatable-small
			thead
				tr 
					th.size-80 Date
					th.size-80 User
					th.size-80 Action 
					th.size-100 On table
					th.size-100 Column 
					th Data
			
			tbody
				if actions.length == 0
					tr
						td(colspan="100") No results, please add a new item
						
				for a in actions
					tr
						td.text-left
							span #{a.date}
						td.text-left
							span #{a.dbuser}
						td.text-left
							span #{a.action}
						td.text-left 
							span #{a.dbtable}
						td.text-left 
							span #{a.dbcolumn}
						td.text-left 
							span #{a.data}
							
		// - Add pagination
		include addons/datatable.pug