// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div
		br
		span 
			strong
				u Drag menu options to order them in the way that they will be ordered in the desktop
				
	table.table.table-hover.sortable(style="width: 100%")
		thead
			tr 
				th.text-center ID
				th Description
				th Icon File
				//th Order
				th Header
				th.text-center Active?
				th
		
		tbody
			if di.length == 0
				tr
					td(colspan="100") No results, please add a new item
			for i in di
				tr
					td #{i.mgid}
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="mgdescription" colid="mgid" colidval=i.mgid  id="mdes_" + i.mgid value=i.mgdescription)
							// - Ordering hidden column
							input.order(type="hidden" value=i.mgorder colid="mgid" colidval=i.mgid col="mgorder")
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="mgicon" colid="mgid" colidval=i.mgid  id="mic_" + i.mgid value=i.mgicon)
					td 
						input(type="hidden" col="mgorder" colid="mgid" colidval=i.mgid  id="mord_" + i.mgid value=i.mgorder)
						div.input-group
							select.form-control.input-sm.update(col="mgtype" colidval=i.mgid colid="mgid" id="mgtype_" + i.mgid)
								option(selected="selected" disabled) Header Type
								if i.mgtype=="panel-success"
									option(value="panel-success" selected) Standard Item
								else
									option(value="panel-success") Standard Item
								if i.mgtype=="panel-danger"
									option(value="panel-danger" selected) System Setting
								else 
									option(value="panel-danger") System Setting  
								if i.mgtype=="panel-info"
									option(value="panel-info" selected) Important Item
								else
									option(value="panel-info") Important Item  
					td.text-center
						if i.mgactive === true
							input.update(type="checkbox" checked col="mgactive" colid="mgid" colidval=i.mgid  id="mact_" + i.mgid)
						else
							input.update(type="checkbox" col="mgactive" colid="mgid" colidval=i.mgid  id="mact_" + i.mgid)
					td 
						div.btn-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="mgid" dbcolidval=i.mgid id="btn_del_" + i.mgid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
		input( type="hidden" id="apppage" value="/menu/desktop_icons_setup")
		input( type="hidden" id="dbtable" value="menu_groups")
		
		// - Add sortable rows by drag and drop.
		// - We use this to order the menu, then save the order to the database
		include addons/sort_order_scripts