// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	// - h4 #{pagename}
	table.table.table-hover.table-condensed(style="width: 60%")
		thead
			tr 
				th.text-center ID
				th Model Description
				th
		
		tbody
			if equip_models.length == 0
				tr
					td(colspan="100") No results, please add a new item
			for em in equip_models
				tr
					td #{em.emid}
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-bed(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="emdescription" colid="emid" colidval=em.emid id="em_" + em.emid value=em.emdescription)
					td 
						div.nput-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="emid" dbcolidval=em.emid id="btn_del_" + em.emid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
	input( type="hidden" id="apppage" value="/menu/equipment_models")
	input( type="hidden" id="dbtable" value="equipment_models")