block content
	// - Add searchbox
	include addons/searchbox.pug
	input(type="hidden" id="searchparam" searchtable="equipment_setup" fields="enumberplate,eidescription" render="equipment_setup" arrayname="equipment")
	
	table.table.table-hover
		thead
			tr 
				th.text-center ID
				th Number Plate
				th Description
				th Purchased
				th Road License
				th Insurance
				th TRA
				th Active?
				th 
		
		tbody
			if equipment.length == 0
				tr
					td(colspan="100")
						No results, please add a new item
					
			for e in equipment
				tr
					td #{e.eid}
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="enumberplate" colid="eid" colidval=e.eid id="eq_numplate_" + e.eid value=e.enumberplate style="width: 80px;")
					td 
						div.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="edescription" colid="eid" colidval=e.eid id="eq_descr_" + e.eid value=e.edescription style="width: 180px;")
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-calendar(aria-hidden="true")
							input.update.form-control.input-sm.datepicker(type="text" col="epurchased" colid="eid" colidval=e.eid id="eq_purch_" + e.eid value=e.epurchased) 								
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-calendar(aria-hidden="true")
							input.update.form-control.input-sm.datepicker(type="text" col="eroadlicense" colid="eid" colidval=e.eid id="eq_rl_" + e.eid value=e.eroadlicense)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-calendar(aria-hidden="true")
							input.update.form-control.input-sm.datepicker(type="text" col="einsurance" colid="eid" colidval=e.eid id="eq_ins_" + e.eid value=e.einsurance)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-calendar(aria-hidden="true")
							input.update.form-control.input-sm.datepicker(type="text" col="etra" colid="eid" colidval=e.eid id="eq_" + e.eid value=e.etra)
					td.text-center
						if e.eactive === true
							input.update(type="checkbox" checked col="eactive" colid="eid" colidval=e.eid  id="ea_" + e.eid)
						else
							input.update(type="checkbox" col="eactive" colid="eid" colidval=e.eid  id="ea_" + e.eid)
					td 
						div.input-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="eid" dbcolidval=e.eid id="btn_del_" + e.eid title="DELETE")
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
		input( type="hidden" id="apppage" value="/menu/equipment_setup")
		input( type="hidden" id="dbtable" value="equipment")
		
	// - Add pagination
	include addons/datatable.pug