// - Visualize only. No updates on this page
block content
	// - Add searchbox
	include addons/searchbox.pug
	input(type="hidden" id="searchparam" searchtable="vw_goods_issued_notes" fields="ginby,ginto,notes" render="goods_issue_notes" arrayname="gin")
	
	table.table.table-condensed.table-hover
		thead
			tr 
				th ID
				th Date
				th Issued To
				th Issued By
				th Notes
				th
		
		tbody
			if gin.length == 0
				tr
					td(colspan="100") No results, please add a new item
					
			for g in gin
				tr
					td.text-left 
						span #{g.ginid}
					td.text-left
						span #{g.date}
					td.text-left
						input.form-control.input-sm.autocomplete(type="text" ac-source="users" id="t" + g.ginid + "_txt" value=g.ginto)
						input.update(type="hidden" col="ginissuedto" colid="ginid" colidval=g.ginid id="t" + g.ginid) 
						//span #{g.ginto}
					td.text-left
						input.form-control.input-sm.autocomplete(type="text" ac-source="users" id="b" + g.ginid + "_txt" value=g.ginby)
						input.update(type="hidden" col="ginissuedby" colid="ginid" colidval=g.ginid id="b" + g.ginid)  
						//span #{g.ginby}
					td.text-left 
						//textarea.form-control.update(col="ginnotes" colid="ginid" colidval=g.ginid id="nt_" + g.ginid) #{g.notes}
						input.form-control.input-sm.update(col="ginnotes" colid="ginid" colidval=g.ginid id="nt_" + g.ginid value=g.notes title=g.notes)
					td
						div.btn-group.pull-right
							button.btn.btn-default.btn-sm.btn-setup(id='btn_edit_' + g.ginid disabled=g.gclosed data-toggle="tooltip" setuplink="/btn-setup/add_to_goods_received_note" param=g.ginid data-placement="bottom" title="Add items to this goods issue note No " + g.ginid)
								span.glyphicon.glyphicon-pencil(aria-hidden="true")
							button.btn.btn-danger.btn-sm.btn-delete(id="btn_del_" + g.ginid dbcolid="ginid" disabled=g.gclosed dbcolidval=g.ginid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
			input(type="hidden" id="apppage" value="/menu/goods_issue_notes")
			input(type="hidden" id="dbtable" value="goods_issue_notes")
	
	//- include addons/datatable.pug