// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	// - h4 #{pagename}
	table.table.table-hover(style="width: 60%")
		thead
			tr 
				th.text-center ID
				th Supplier Name
				th
		
		tbody
			if suppliers.length == 0
				tr
					td(colspan="100") No results, please add a new item
			for s in suppliers
				tr
					td #{s.sid}
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="sname" colid="sid" colidval=s.sid id="s_" + s.sid value=s.sname)
					td 
						div.nput-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="sid" dbcolidval=s.sid id="btn_del_" + s.sid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
	input( type="hidden" id="apppage" value="/menu/suppliers")
	input( type="hidden" id="dbtable" value="suppliers")