// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div
		br
		span 
			strong
				u Drag menu options to order them in the way that they will be ordered in the menu
		
	table.table.table-hover.table-striped.sortable.help
		thead
			tr 
				th.text-center ID
				th.help(data-toggle="popover" data-placement="bottom" title="Menu Option Description Help" data-content="Name displayed in the left navigation menu") Menu Description
				th.help(data-toggle="popover" data-placement="bottom" title="Express.js API Help" data-content="Link to the route that will load the page in #workspace div. Just use the name of the route as /menu/ will be added automatically as this is the route handling the link.") Express.js API Link
				th.help(data-toggle="popover" data-placement="bottom" title="API New item link Help" data-content="Link to the route that loads the page in the New Item div. Just use the name of the route as /new_item/ will be added automatically as this is the route handling the link") API New item link
				th.help(data-toggle="popover" data-placement="bottom" title="Detail of Menu Item Help" data-content="Long description of the menu function. Appears on menu tooltip") Detail of Menu Item
				th.help(data-toggle="popover" data-placement="bottom" title="Menu Group Help"  data-content="The Desktop Icon does this menu item belong to. Will be a sub selecton of the icon in /desktop when /main opens") Menu Group
				th.help.text-center(data-toggle="popover" data-placement="bottom" title="Active Help" data-content="Show or hide this item in the menu?") Active?
				th
		
		tbody
			if menu.length == 0
				tr
					td(colspan="100") No results, please add a new item
			for m in menu
				tr
					td #{m.mid}
					td 
						div.input-group
							span.input-group-addon
								span(class="glyphicon glyphicon-th-list" aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="mdescription" colid="mid" colidval=m.mid id="mn_#{m.mid}" value=m.mdescription)
							// - Ordering hidden column
							input.order(type="hidden" value=m.morder colid="mid" colidval=m.mid col="morder")
					td 
						div.input-group
							span.input-group-addon
								span(class="glyphicon glyphicon-link" aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="mlink" colid="mid" colidval=m.mid id="ml_" + m.mid data-toggle="tooltip" data-placement="bottom" value=m.mlink title=m.mlink)
					td 
						div.input-group
							span.input-group-addon
								span(class="glyphicon glyphicon-link" aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="mnewitemlink" colid="mid" colidval=m.mid id="mnl_" + m.mid data-toggle="tooltip" data-placement="bottom" value=m.mnewitemlink title=m.mnewitemlink)
					td 
						div.input-group
							span.input-group-addon
								span(class="glyphicon glyphicon-tag" aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="mlongdescription" colid="mid" colidval=m.mid id="mld_" + m.mid value=m.mlongdescription data-toggle="tooltip" data-placement="bottom" title=m.mlongdescription)
					td
						input.update.form-control.order.input-sm(type="hidden" col="morder" colid="mid" colidval=m.mid id="mn_" + m.mid value=m.morder) 
						div.input-group
							input.form-control.input-sm.autocomplete.size-120(id="mg_" + m.mid + "_txt" ac-source="menu_groups" value=m.mgdescription)
							input.update(type="hidden" id="mg_" + m.mid col="mgroup" colid="mid" colidval=m.mid )

											
					td.text-center.col-md-1
						if m.mactive === true
							input.update(type="checkbox" checked col="mactive" colid="mid" colidval=m.mid id="mnc_"  + m.mid)
						else
							input.update(type="checkbox" col="mactive" colid="mid" colidval=m.mid id="mnc_" + m.mid)
					td 
						div.input-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="mid" dbcolidval=m.mid id="btn_del_" + m.mid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
	input( type="hidden" id="apppage" value="/menu/system_menu_setup")
	input( type="hidden" id="dbtable" value="menu")
								
	// - Add pagination
	include addons/datatable.pug							
	
	// - Add sortable rows by drag and drop.
	// - We use this to order the menu, then save the order to the database
	include addons/sort_order_scripts