// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	div
		br
		span 
			strong
				u Drag menu options to order them in the way that they will be ordered in the menu
		
	table(class="table table-hover sortable" id="dbtable" dbtable="menu")
		thead
			tr 
				th.text-center ID
				th Menu Option Description
				th(data-toggle="tooltip" data-placement="bottom" title="Link to the route that will load the page in #workspace div") Express.js API Link
				th(data-toggle="tooltip" data-placement="bottom" title="Link to the route that loads the page in the New Item div") API New item link
				th(data-toggle="tooltip" data-placement="bottom" title="Long description of the menu function") Detail of Menu Item
				//th(data-toggle="tooltip" data-placement="bottom" title="Order in which the items are displayed in the main menu") Order
				th(data-toggle="tooltip" data-placement="bottom" title="Which Desktop Icon does this menu item belong to") Menu Group
				th(class="text-center" data-toggle="tooltip" data-placement="bottom" title="Show or hide this item in the menu?") Active?
				th
		
		tbody
			if menu.length == 0
				tr
					td(colspan="100") No results, please add a new item
			for m in menu
				tr
					td #{m.mid}
					td 
						div(class="input-group")
							span(class="input-group-addon") 
								span(class="glyphicon glyphicon-th-list" aria-hidden="true")
							input(type="text" class="update form-control input-sm" col="mdescription" colid="mid" colidval=m.mid id="mn_#{m.mid}" value=m.mdescription)
					td 
						div(class="input-group")
							span(class="input-group-addon") 
								span(class="glyphicon glyphicon-link" aria-hidden="true")
							input(type="text" class="update form-control input-sm" col="mlink" colid="mid" colidval=m.mid id="ml_" + m.mid data-toggle="tooltip" data-placement="bottom" value=m.mlink title=m.mlink)
					td 
						div(class="input-group")
							span(class="input-group-addon") 
								span(class="glyphicon glyphicon-link" aria-hidden="true")
							input(type="text" class="update form-control input-sm" col="mnewitemlink" colid="mid" colidval=m.mid id="mnl_" + m.mid data-toggle="tooltip" data-placement="bottom" value=m.mnewitemlink title=m.mnewitemlink)
					td 
						div(class="input-group")
							span(class="input-group-addon") 
								span(class="glyphicon glyphicon-tag" aria-hidden="true")
							input(type="text" class="update form-control input-sm" col="mlongdescription" colid="mid" colidval=m.mid id="mld_" + m.mid value=m.mlongdescription data-toggle="tooltip" data-placement="bottom" title=m.mlongdescription)
					//td 
						//div(class="input-group")
						//	span(class="input-group-addon") 
						//		span(class="glyphicon glyphicon-sort-by-order" aria-hidden="true")
							
					td
						input(type="hidden" class="update form-control order input-sm" col="morder" colid="mid" colidval=m.mid id="mn_" + m.mid value=m.morder) 
						div(class="input-group")
							select(class="form-control input-sm update" col="mgroup" colid="mid" colidval=m.mid  id="group_" + m.mid)
								option(selected="selected" disabled) Desktop Icon
									for g in groups
										if m.mgroup === g.mgid
											option(value=g.mgid selected) #{g.mgdescription}
										else
											option(value=g.mgid) #{g.mgdescription}
											
					td(class="text-center col-md-1")
						if m.mactive === true
							input(type="checkbox" checked class="update" col="mactive" colid="mid" colidval=m.mid id="mnc_"  + m.mid)
						else
							input(type="checkbox" class="update" col="mactive" colid="mid" colidval=m.mid id="mnc_" + m.mid)
					td 
						div(class="input-group pull-right")
							button(class="btn btn-danger btn-sm" class="btn-delete" dbcolid="mid" dbcolidval=m.mid id="btn_del_" + m.mid)
								span(class="glyphicon glyphicon-trash" aria-hidden="true")
								
			// - Add sortable rows by drag and drop.
			// - We use this to order the menu, then save the order to the database
			include sort_order_scripts