// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	// - Add searchbox
	include addons/searchbox.pug
	input(type="hidden" id="searchparam" searchtable="login" fields="lusername,ldescription,lemail" render="system_users_setup" arrayname="sysusers")
	
	table.table.table-hover(style="width: 100%")
		thead
			tr 
				th.text-center ID
				th Username
				th Password
				th User Description
				th Email
				th.text-center User Active?
				th
		
		tbody
			if sysusers.length == 0
				tr
					td(colspan="100") No results, please add a new item
			for u in sysusers
				tr
					td #{u.lid}
					td 
						div.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-user(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="lusername" colid="lid"  colidval=u.lid id="lu_" + u.lid value=u.lusername)
					td 
						div.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-lock(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="lpassword" colid="lid" colidval=u.lid  id="lp_" + u.lid value=u.lpassword)
					td 
						div.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-align-left(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="ldescription" colid="lid" colidval=u.lid  id="ld_" + u.lid value=u.ldescription)
					td 
						div.input-group
							span.input-group-addon
								span.glyphicon.glyphicon-envelope(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="lemail" colid="lid" colidval=u.lid  id="le_" + u.lid value=u.lemail)
					td.text-center
						if u.lactive === true
							input.update(type="checkbox" checked col="lactive" colid="lid" colidval=u.lid  id="la_" + u.lid)
						else
							input.update(type="checkbox" col="lactive" colid="lid" colidval=u.lid  id="la_" + u.lid)
					td 
						div.btn-group.pull-right
							button.btn.btn-info.btn-sm.btn-setup(setuplink="/btn-setup/user_permissions" param=u.lid)
								span.glyphicon.glyphicon-cog(aria-hidden="true")
								
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="lid" dbcolidval=u.lid id="btn_del_" + u.lid )
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
	input( type="hidden" id="apppage" value="/menu/system_users_setup")
	input( type="hidden" id="dbtable" value="login")
	
	// - Add pagination
	include addons/datatable.pug