// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	// - Add searchbox
	include addons/searchbox.pug
	input(type="hidden" id="searchparam" searchtable="warehouse_items" fields="wisku,widescription" render="warehouse_items_setup" arrayname="whi")
	
	table.table.table-hover.table-condensed(style="width: 100%")
		thead
			tr 
				th.text-center ID
				th Item Code
				th Item Description
				th Item Cost
				th Item Price
				th Unit
				th For Model
				th
		
		tbody
			if whi.length == 0
				tr
					td(colspan="100")
						| No results, please add a new item
			for w in whi
				tr
					td #{w.wiid}
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-barcode(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="wisku" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.wisku)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="widescription" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.widescription)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-usd(aria-hidden="true")
							input.update.form-control.input-sm(type="number" col="wi_unit_cost" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.wi_unit_cost)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-usd(aria-hidden="true")
							input.update.form-control.input-sm(type="number" col="wi_unit_price" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.wi_unit_price)
					td 
						input.form-control.input-sm.autocomplete.size-80(type="text" id="wi_unit_" + w.wiid + "_txt" ac-source="warehouse_units" value=w.wuunit)
						input.update(type="hidden" col="wi_unit" colid="wiid" colidval=w.wiid  id="wi_unit_" + w.wiid)
					td 
						div.input-group
							input.form-control.input-sm.autocomplete(type="text" id="wiforequip_" + w.wiid + "_txt" ac-source="equipment_models" value=w.emdescription)
							input.update(type="hidden" col="wiforequip" colid="wiid" colidval=w.wiid  id="wiforequip_" + w.wiid)
							//input.update(type="hidden" col="ginissuedto" colid="ginid" colidval=g.ginid id="t" + g.ginid) 
					td 
						div.input-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="wiid" dbcolidval=w.wiid id="btn_del_" + w.wiid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
		input( type="hidden" id="apppage" value="/menu/warehouse_items_setup")
		input( type="hidden" id="dbtable" value="warehouse_items")
		
		// - Add pagination
		include addons/datatable.pug