// This is the template for building the main menu. It fetches JSON data from the express server and populates the template

block content
	// - Add searchbox
	include addons/searchbox.pug
	input(type="hidden" id="searchparam" searchtable="warehouse_items" fields="wisku,widescription" render="warehouse_items_setup" arrayname="whi")
	
	table.table.table-hover.table-condensed(style="width: 100%")
		thead
			tr 
				th.text-center ID
				th Item Code
				th Item Description
				th Item Cost
				th Item Price
				th Unit
				th For Model
				th
		
		tbody
			if whi.length == 0
				tr
					td(colspan="100")
						| No results, please add a new item
			for w in whi
				tr
					td #{w.wiid}
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-barcode(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="wisku" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.wisku)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-font(aria-hidden="true")
							input.update.form-control.input-sm(type="text" col="widescription" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.widescription)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-usd(aria-hidden="true")
							input.update.form-control.input-sm(type="number" col="wi_unit_cost" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.wi_unit_cost)
					td 
						div.input-group
							span.input-group-addon 
								span.glyphicon.glyphicon-usd(aria-hidden="true")
							input.update.form-control.input-sm(type="number" col="wi_unit_price" colid="wiid"  colidval=w.wiid id="u_" + w.wiid value=w.wi_unit_price)
					td 
						div.input-group
							select.form-control.input-sm.update(col="wi_unit" colid="wiid" colidval=w.wiid  id="wi_unit_" + w.wiid)
								option(selected="selected" disabled) Unit of Measure
									for u in units
										if u.wuid === w.wi_unit
											option(value=u.wuid selected) #{u.wuunit}
										else
											option(value=u.wuid) #{u.wuunit}
					td 
						div.input-group
							select.form-control.input-sm.update(col="wiforequip" colidval=w.wiid colid="wiid" id="wiforequip_" + w.wiid)
								option(selected="selected" disabled) For Equipment
									for m in models
										if m.emid === w.wiforequip
											option(value=m.emid selected) #{m.emdescription}
										else
											option(value=m.emid) #{m.emdescription}
					td 
						div.input-group.pull-right
							button.btn.btn-danger.btn-sm.btn-delete(dbcolid="wiid" dbcolidval=w.wiid id="btn_del_" + w.wiid)
								span.glyphicon.glyphicon-trash(aria-hidden="true")
								
		input( type="hidden" id="apppage" value="/menu/warehouse_items_setup")
		input( type="hidden" id="dbtable" value="warehouse_items")
		
		// - Add pagination
		include addons/datatable.pug